/EFDatabase/obj
/EFDatabase/bin
/WinForm/obj
/WinForm/bin
/Server/obj
/Server/bin
/RedisServer/obj
/RedisServer/bin
/MongoServer/bin
/MongoServer/obj
/Model/obj
/Model/bin
/Command/obj
/Command/bin
/Web/obj
/Web/bin
/MysqlServer/bin
/MysqlServer/obj
/packages
/WebAccess/obj
/WebAccess/bin
/RedisClientLib/obj
/RedisClientLib/bin
/Test/RabbitMQTest/obj
/Test/RabbitMQTest/bin
/Test/RabbitConsumers/obj
/Test/RabbitConsumers/bin
/RabbitMQServer/obj
/RabbitMQServer/bin
