<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SqlDb" connectionString="Data Source=www.mz9.net;Initial Catalog=Demo; Persist Security Info=True;User ID=mz9_demo;Password=123456" providerName="System.Data.SqlClient" />
    <add name="SqlDbTwo" connectionString="Data Source=www.mz9.net;Initial Catalog=Demo; Persist Security Info=True;User ID=mz9_demo;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>